<div class="wrapper">
    <div class="col-centered">
        <h2>About Demons With Shotguns</h2> 
        <p>
            <%= image_tag("shotgun600.png", alt: "Weapon of choice!") %>
            <p>
                <%= image_tag("angelSmoking300.gif") %>
                <%= image_tag("preacherPraying300.gif") %>
                <%= image_tag("demonTaunt300.gif") %>
                <%= image_tag("deathTaunt300.gif") %>
            </p>
        </p>
    </div>
    
    <div class="content col-centered">
        <p>
            The battle between Heaven and Hell has been going on for so long,
            no on really remembers why, let alone when, it started. Alas, both sides
            are desperate for souls that can be used to strengthen their numbers.
            Their desperation takes them to the mortal realm, where Angels
            and Demons fight for the souls of mankind.
        </p>
        
        <p>
            Demons with Shotguns is a competitive platformer featuring
            old school, fast paced, twitch style arena shooting action
            where you battle for the souls of your friends!
        </p>
    </div>
</div>
